body {
    background-color: #071929;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    text-align: center;
    padding: 1vw 1vw 1vw 1vw;
}

header h1 {
    margin: 16vh 0 0 0;
    font-size: 21vh;
    text-shadow: 0 0 20px rgb(158, 211, 255, 0.3);
}

header p {
    color: #7092af;
    margin: 0 0 16vh 0;
    font-size: 160%;
    position: relative;
    top: -16px;
}


.contenido {
    padding: 1vw 3vw 1vw 3vw;
}

footer {
    color: #fff;
    text-align: center;
    padding: 10px;
}

.BarraNavegacion {
    background-color: #0e283f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1vw 1vw;
    border-radius: 29px;
    border-color: #e96862;
    border: 6px solid #071929;
    font-size: 200%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 1%;    
}


.BarraNavegacion p {
    color: #ffebe9;
    padding: 50%;
}

.Barra-boton {
    background-color: #1463A3;
    text-decoration: none;
    color: #CFE9FF;
    border: none;
    padding: 2.3vh 20px;
    cursor: pointer;
    flex: 1; /* Cada botón ocupa el mismo espacio (25% del ancho) */
    text-align: center;
    border-radius: 20px;
    transition: background-color 0.3s, box-shadow 0.5s;
    white-space: nowrap;
}

.Menu-boton {
    text-decoration: none;
    color: #CFE9FF;
}

.Barra-boton-seleccionado {
    background-color: #3c92d8;
    color: #FFBBB8;
    border: none;
    padding: 2.3vh 20px;
    cursor: pointer;
    flex: 1; /* Cada botón ocupa el mismo espacio (25% del ancho) */
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(158, 211, 255, 0.2);
}

.boton:hover {
    background-color: #e96862;
    box-shadow: 0 0 20px rgb(158, 211, 255, 0.3);
}

.Barra-boton:not(:last-child) {
    margin-right: 0.6vw; /* Margen entre los botones */
}

section {
    padding: 0;
    
}

section h2 {
    font-size: 6vh;
    color: #a0def5;
}

section p {
    color: #719dad;
}

.Seccion {
    display: flex;
    border-radius: 29px;
    background-color: #0e283f;
    width: 100%;
    height: 100%;
    color: #fff;
}

.Contenido-Seccion {
    margin: 2% 6% 6% 6% ;
    width: 100%;
}

.Titulo {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%;
    height: 25vh;
    
}
