body {
    background-color: #071929;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    text-align: center;
    padding: 1vw 1vw 1vw 1vw;
}

header h1 {
    margin: 16vh 0 0 0;
    font-size: 21vh;
    text-shadow: 0 0 20px rgb(158, 211, 255, 0.3);
}

header p {
    color: #7092af;
    margin: 0 0 16vh 0;
    font-size: 160%;
    position: relative;
    top: -16px;
}

a {
    text-decoration: none;
}


.contenido {
    padding: 1vw 3vw 1vw 3vw;
}

footer {
    color: #fff;
    text-align: center;
    padding: 10px;
}

.BarraNavegacion {
    background-color: #0e283f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5vh 1vh;
    border-radius: 29px;
    border-color: #e96862;
    border: 9px solid #071929;
    font-size: 150%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 1% 1% 0 1%;    
}


.BarraNavegacion p {
    color: #ffebe9;
    padding: 50%;
}

.Barra-boton {
    background-color: #1463A3;
    text-decoration: none;
    color: #CFE9FF;
    border: none;
    padding: 2.3vh 2.3vh;
    cursor: pointer;
    flex: 1; /* Cada botón ocupa el mismo espacio (25% del ancho) */
    text-align: center;
    border-radius: 20px;
    transition: background-color 0.3s, box-shadow 0.5s;
    white-space: nowrap;
    margin-bottom: 0.9vh;
    margin-top: 0.9vh;
    margin-left: 0.6vh;
}

.Barra-boton-seleccionado {
    background-color: #3c92d8;
    color: #FFBBB8;
    border: none;
    padding: 2.3vh 20px;
    cursor: pointer;
    flex: 1; /* Cada botón ocupa el mismo espacio (25% del ancho) */
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(158, 211, 255, 0.2);
}

.boton:hover {
    background-color: #e96862;
    box-shadow: 0 0 20px rgb(158, 211, 255, 0.3);
}

.Barra-boton:not(:last-child) {
    margin-right: 0.9vh; /* Margen entre los botones */
    
}

.Seccion {
    display: flex;
    border-radius: 29px;
    background-color: #0e283f;
    width: 100%;
    height: 100%;
    color: #fff;
}






.Menu {
    margin-left: 2vh;
    margin-right: 1vh;
    flex: 1;
}

.Menu-Botones {
    list-style: none;
    width: 100%;
    padding: 1% 9%;
}

.Menu-Botones a {
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding-right: 3%;
    cursor: pointer;
    padding: 6%;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.Menu-Botones a:hover {
    background-color: #1a3a57;
}






.Seccion-Principal {
    margin: 0 1vh;
    flex: 2;
}

.Seccion-Principal a {
    font-weight: bold;
    color: #f3807a;
    transition: color 0.2s;
}

.Seccion-Principal span {
    font-weight: bold;
    color: #95bee2;
}

.Seccion-Principal p {
    padding: 0;
    color: #6390b8;
}

.Seccion-Principal a:hover {
    color: #ff4860;
}






.Adicion {
    margin-right: 2vh;
    margin-left: 1vh;
    flex: 1;
}

.Fixed {
    position: -webkit-sticky;
    position: sticky;
    top: 15%;
}


.Titulo {
    margin-top: 3vh;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center;
    width: 100%;
    height: 10vh;
    color: #a0c5e5;
    text-shadow: 0 0 20px rgb(158, 211, 255, 0.2);
}

.Contenido {
    display: flex;
    padding: 0 5vh;
}

