body {
    background-color: #071929;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 20%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    display: flex;
    background-color: #03121f;
    margin-top: 6vh;
    color: #95bee2;
    align-items: center;
    justify-content: center;
    padding: 10vh;
}

footer div {
    background-color: #0e283f;
    border-radius: 30px;
    padding: 0 6%;
}






::selection {
    background-color: #ff7d77;
    color: #fff;
}

::-webkit-scrollbar {
    background-color: #0a2236;
    border-radius: 29px;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 29px;
    background-color: #204769; /* Cambia el color del pulgar del scrollbar */
}






header {
    color: #fff;
    text-align: center;
    padding: 1vw 1vw 1vw 1vw;
}

header h1 {
    margin: 16vh 0 0 0;
    font-size: 21vh;
    text-shadow: 0 0 20px rgb(158, 211, 255, 0.3);
}

header p {
    color: #7092af;
    margin: 0 0 16vh 0;
    font-size: 160%;
    position: relative;
    top: -16px;
}






.contenido {
    padding: 1vw 3vw 1vw 3vw;
}






.BarraNavegacion {
    background-color: #0e283f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5vh 1vh;
    border-radius: 29px;
    border-color: #e96862;
    border: 9px solid #071929;
    font-size: 150%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 9vh;
    margin: 1% 1% 0 1%;    
}


.BarraNavegacion p {
    color: #ffebe9;
    padding: 50%;
}

.Barra-boton {
    background-color: #1463A3;
    text-decoration: none;
    color: #CFE9FF;
    border: none;
    padding: 2.3vh 2.3vh;
    cursor: pointer;
    flex: 1;
    text-align: center;
    border-radius: 20px;
    transition: background-color 0.3s, box-shadow 0.5s;
    white-space: nowrap;
}

.Barra-boton-seleccionado {
    background-color: #3cb4d8;
    color: #FFBBB8;
    border: none;
    padding: 2.3vh 20px;
    cursor: default;
    flex: 1; /* Cada botón ocupa el mismo espacio (25% del ancho) */
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(158, 211, 255, 0.2);
}

.boton:hover {
    background-color: #e96862;
    box-shadow: 0 0 20px rgb(158, 211, 255, 0.3);
}

.Barra-boton:not(:last-child) {
    margin-right: 0.9vh; /* Margen entre los botones */
}






.Seccion {
    display: flex;
    border-radius: 29px;
    background-color: #0e283f;
    width: 100%;
    height: 100%;
    color: #fff;
}






.Menu {
    margin-left: 2vh;
    margin-right: 1vh;
    flex: 1;
}

.Menu-Botones {
    list-style: none;
    width: 100%;
    padding: 1% 3%;
    color: #cbe7ff;
}

.Menu-Botones a {
    display: flex;
    color: #95bee2;
    justify-content: space-between;
    padding-right: 3%;
    cursor: pointer;
    padding: 6%;
    border-radius: 10px;
    transition: background-color 0.12s;
}

.Menu-Botones a:hover {
    background-color: #2d5275;
}

.Menu-Botones div {
    
    font-weight: bold;
    font-size: 134%;
    text-align: center;
    padding: 1%;
    margin: 0;
}

.Menu-Botones-Seleccionado {
    background-color: #1a3a57;
}

#Menu-Botones-Desactivado {
    font-weight: normal;
    font-size: 100%;
    display: flex;
    color: #95bee2;
    justify-content: space-between;
    cursor: default;
    padding-right: 3%;
    padding: 6%;
    border-radius: 10px;
}

#Menu-Botones-Desactivado {
    opacity: 0.4;
}

#Menu-Botones-Desactivado span {
    opacity: 0;
    transition: opacity 0.36s;
}

#Menu-Botones-Desactivado:hover span {
    opacity: 1;
}






.Seccion-Principal {
    margin: 0 1vh;
    flex: 2;
}

.Seccion-Principal a {
    font-weight: bold;
    color: #f3807a;
    transition: color 0.2s;
}

.Seccion-Principal a:hover {
    color: #ff4860;
}

.Seccion-Principal span {
    font-weight: bold;
    color: #95bee2;
}

.Seccion-Principal p, li {
    padding: 0;
    color: #6390b8;
}

.Seccion-Principal li {
    color: #83bbec;
    list-style-type: disc;
    margin: 0 6%;
    margin-top: 1%;
}

.Seccion-Principal img {
    
    margin: 6%;
}






.Adicion {
    margin-right: 2vh;
    margin-left: 1vh;
    flex: 1;
}

.Fixed {
    position: -webkit-sticky;
    position: sticky;
    max-height: 83.5vh;
    top: 12.5vh;
    padding: 10px;
}

.AutoScroll {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.AutoScroll div {
    cursor: default;
}






.Titulo {
    margin-top: 3vh;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center;
    width: 100%;
    height: 10vh;
    color: #a0c5e5;
    text-shadow: 0 0 20px rgb(158, 211, 255, 0.2);
}

.Titulo2 {
    margin-top: 3vh;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center;
    width: 100%;
    height: 10vh;
    color: #a0c5e5;
    text-shadow: 0 0 20px rgb(158, 211, 255, 0.2);
}





.Contenido {
    display: flex;
    padding: 0 5vh;
}






.Cortes-Contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3% 0 3%;
}

.Cortes-Contenido a {
    flex: 1;
    max-width: 24%;
    min-width: 240px;
    margin: 1%;
    margin-bottom: 6.9vw;
    transition: background-color 0.3s, box-shadow 0.5s;
}

.Cortes {
    width: 100%;
    text-align: center;
}

.Cortes h2 {
    color: #a0c5e5;
    font-size: 300%;
    cursor: default;
    text-shadow: 0 0 20px rgb(158, 211, 255, 0.2);
    margin: 5vw 3vw 3vw 3vw;
}

.Corte {
    color: #cbe7ff;
    padding: 0 9% 3% 9%;
    white-space: normal;
}

.Corte p {
    color: #cbe7ff;
    opacity: 0.36;
    text-align: left;
    margin-left: 3%;
    width: 100%;
}

.Corte h2 {
    font-size: 300%;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 3vw;
}

.Corte h3 {
    font-size: 150%;
    margin-bottom: 9%;
}

.Corte li {
    color: #fff;
    opacity: 0.36;
    text-align: left;
    margin: 1%;
    list-style-type: disc;
}

.NoDisponible {
    background-color: #093c66;
}

.NoDisponible, .NoDisponible h2, .NoDisponible h3 {
    cursor: default;
}

.NoDisponible h2, .NoDisponible h3 {
    opacity: 0.3;
}

.NoDisponible p {
    text-align: center;
    font-size: 150%;
    opacity: 0;
    margin: 0;
    transition: all 0.3s;
}

.NoDisponible:hover {
    background-color: #093c66;
    box-shadow: none;
}

.NoDisponible:hover p {
    opacity: 0.45;
}

.Corte img {
    margin-top: 15%;
    width: 30%;
}
